<div class='patient-container-hor'>
  <div class='patient-main-hor'>
    <div class='patient-container-text-heading'>
      <%= patient.first_name %>
      <%= patient.middle_initial %>
      <%= patient.last_name %>
    </div>
  </div>
  <div class='patient-detail-hor'>
    <div class='patient-container-text-normal'>
      <%= patient.address1 %>
    </div>
    <div class='patient-container-text-normal'>
      <%= patient.address2 %>
    </div>
    <div class='patient-container-text-normal'>
      <%= patient.city %>
    </div>
    <div class='patient-container-text-normal'>
      <%= patient.state %>
    </div>
    <div class='patient-container-text-normal'>
      <%= patient.home_phone %>
    </div>
  </div>
</div>

<!--

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.medical_record_id %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.middle_initial %></td>
        <td><%= patient.address1 %></td>
        <td><%= patient.address2 %></td>
        <td><%= patient.city %></td>
        <td><%= patient.state %></td>
        <td><%= patient.home_phone %></td>
        <td><%= patient.work_phone %></td>
        <td><%= patient.cell_phone %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.race %></td>
        <td><%= patient.ethnicity %></td>
        <td><%= patient.preferred_language %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 -->