<% content_for :css do %>
  <%= stylesheet_link_tag "surgical_profiles", media: "all" %>
<% end %>

<div class='surgical-profiles-list-container-hor clear-both'>
  <div class='font-page-title clear-both'>
    <%# If surgeon is defined, then we are displaying surgical
          profiles for a surgeon, else we are displaying for a
          patient %>
    <% if @surgeon %>
      Surgical Profiles belonging to Surgeon:
      <%= @surgeon.first_name %>
      <%= @surgeon.last_name %>
    <% elsif @patient %>
      Surgical Profiles for Patient:
      <%= @patient.first_name %>
      <%= @patient.last_name %>
    <% else %>
      <%# TODO: throw error and handle correctly %>
    <% end %>
  </div>

  <% @surgical_profiles.each do |surgical_profile| %>
    <%= render partial: 'surgical_profile_detail_list_item',
          locals: {surgical_profile: surgical_profile,
                   patient: surgical_profile.patient} %>
  <% end %>
</div>

<% if @patient %>
  <div class='clear-both'>
    <p>
      <br/>
      <br/>
      <%= link_to 'New Surgical Profile',
        new_patient_surgical_profile_path(@patient.id) %>
      |
      <%= link_to 'Back to Patient',
        patient_path(@patient) %>
    </p>
  </div>
<% end %>