<h1>
  <% if @came_from_patient_page %>
    Surgical Profiles for <%= @patient.first_name %> <%= @patient.last_name %>
  <% else %>
    Surgical Profiles belonging to <%= current_user.first_name %> <%= current_user.last_name %>
  <% end %>
</h1>

<table>
  <thead>
    <tr>
      <th>Patient status</th>
      <th>Elective surgery</th>
      <th>Principal procedure</th>
      <th>Cpt code</th>
      <th>Origin status</th>
      <th>Hospital admission date</th>
      <th>Operation date</th>
      <th>Anesthesia technique</th>
      <th>Encounter number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surgical_profiles.each do |surgical_profile| %>
      <tr>
        <td><%= surgical_profile.patient_status %></td>
        <td><%= surgical_profile.elective_surgery %></td>
        <td><%= surgical_profile.principal_procedure %></td>
        <td><%= surgical_profile.cpt_code %></td>
        <td><%= surgical_profile.origin_status %></td>
        <td><%= surgical_profile.hospital_admission_date %></td>
        <td><%= surgical_profile.operation_date %></td>
        <td><%= surgical_profile.anesthesia_technique %></td>
        <td><%= surgical_profile.encounter_number %></td>
        <% if @came_from_patient_page %>
          <td><%= link_to 'Show', patient_surgical_profile_path(@patient, surgical_profile) %></td>
          <td><%= link_to 'Edit', edit_patient_surgical_profile_path(@patient, surgical_profile) %></td>
          <td><%= link_to 'Destroy', patient_surgical_profile_path(@patient, surgical_profile), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'Show', surgical_profile_path(surgical_profile) %></td>
          <td><%= link_to 'Edit', edit_surgical_profile_path(surgical_profile) %></td>
          <td><%= link_to 'Destroy', surgical_profile_path(surgical_profile), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <% if @came_from_patient_page %>
    <%= link_to 'New Surgical Profile', new_patient_surgical_profile_path(@patient.id) %>
  <% else %>
    <%= link_to 'New Surgical Profile', new_surgical_profile_path %>
  <% end %>
</p>