<% content_for :css do %>
  <%= stylesheet_link_tag "surgical_profiles", media: "all" %>
  <%= stylesheet_link_tag "preop_risk_assessments", media: "all" %>
<% end %>

<%# Tabbed view for different parts of surgical profile %>
<%= render partial: 'surgical_profile_tabs_hor' %>

<% case @sp_view_mode %>
<% when SurgicalProfilesController::SP_VIEW_PREOP_ASSESSMENT %>
    <% @preop_risk_assessments.each do |preop_risk_assessment| %>
      <%= render partial:
            'preop_risk_assessments/preop_risk_assessment_detail_list_item',
            locals: {surgical_profile: @surgical_profile,
                     preop_risk_assessment: preop_risk_assessment} %>
    <% end %>
    <div class='clear-both' style='float:right'>
      <%= link_to 'Create Assessment',
            new_surgical_profile_preop_risk_assessment_path(
              @surgical_profile) %>
    </div>
<% when SurgicalProfilesController::SP_VIEW_OPERATIVE %>
    <div class='clear-both'> operative info </div>
<% when SurgicalProfilesController::SP_VIEW_DISCHARGE %>
    <div class='clear-both'> discharge info </div>

<% when SurgicalProfilesController::SP_VIEW_FOLLOW_UP %>
    <div class='clear-both'> follow up info </div>

<% else %>
  <%# Render default surgical profile view %>
  <%= render partial: 'surgical_profile_detail_list_item',
        locals: {surgical_profile: @surgical_profile,
                 patient: @patient,
                 surgeon: @surgeon} %>
<% end %>


<div class='clear-both'>
  <br/>
  <br/>
  <%= link_to 'Back', patient_surgical_profiles_path(@patient) %>
</div>