<div class='row-element-right'>
  <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
</div>
<div class='row-element-right'> <a href="#/<%= id %>/edit">Edit</a> </div>
<div class='row-element-right'> <a href="#/<%= id %>">Show</a> </div>
<div class='row-element-right'> <%= provider_type %></div>
<div class='row-element-right'> <%= name %></div>
