<div class='row-name'> <%= name %></div>
<div class='row-type'> <%= provider_type %></div>
<div class='row-show'> <a href="#/<%= id %>">Show</a> </div>
<div class='row-edit'> <a href="#/<%= id %>/edit">Edit</a> </div>
<div class='row-destroy'>
  <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
</div>
