<div class='col-name'> <%= name %></div>
<div class='col-type'> <%= provider_type %></div>
<div class='col-show'> <a href="#/<%= id %>">Show</a> </div>
<div class='col-edit'> <a href="#/<%= id %>/edit">Edit</a> </div>
<div class='col-destroy'>
  <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
</div>
