<h1>Edit surgical_profile</h1>

<form id="edit-surgical_profile" name="surgical_profile">
  <div class="field">
    <label for="patient_status"> patient_status:</label>
    <input type="text" name="patient_status" id="patient_status" value="<%= patient_status %>" >
  </div>

  <div class="field">
    <label for="elective_surgery"> elective_surgery:</label>
    <input type="text" name="elective_surgery" id="elective_surgery" value="<%= elective_surgery %>" >
  </div>

  <div class="field">
    <label for="principal_procedure"> principal_procedure:</label>
    <input type="text" name="principal_procedure" id="principal_procedure" value="<%= principal_procedure %>" >
  </div>

  <div class="field">
    <label for="cpt_code"> cpt_code:</label>
    <input type="text" name="cpt_code" id="cpt_code" value="<%= cpt_code %>" >
  </div>

  <div class="field">
    <label for="origin_status"> origin_status:</label>
    <input type="text" name="origin_status" id="origin_status" value="<%= origin_status %>" >
  </div>

  <div class="field">
    <label for="hospital_admission_date"> hospital_admission_date:</label>
    <input type="text" name="hospital_admission_date" id="hospital_admission_date" value="<%= hospital_admission_date %>" >
  </div>

  <div class="field">
    <label for="operation_date"> operation_date:</label>
    <input type="text" name="operation_date" id="operation_date" value="<%= operation_date %>" >
  </div>

  <div class="field">
    <label for="anesthesia_technique"> anesthesia_technique:</label>
    <input type="text" name="anesthesia_technique" id="anesthesia_technique" value="<%= anesthesia_technique %>" >
  </div>

  <div class="field">
    <label for="encounter_number"> encounter_number:</label>
    <input type="text" name="encounter_number" id="encounter_number" value="<%= encounter_number %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Surgical profile" />
  </div>

</form>

<a href="#/index">Back</a>