<p>
  <b>Patient status:</b>
  <%= patient_status %>
</p>

<p>
  <b>Elective surgery:</b>
  <%= elective_surgery %>
</p>

<p>
  <b>Principal procedure:</b>
  <%= principal_procedure %>
</p>

<p>
  <b>Cpt code:</b>
  <%= cpt_code %>
</p>

<p>
  <b>Origin status:</b>
  <%= origin_status %>
</p>

<p>
  <b>Hospital admission date:</b>
  <%= hospital_admission_date %>
</p>

<p>
  <b>Operation date:</b>
  <%= operation_date %>
</p>

<p>
  <b>Anesthesia technique:</b>
  <%= anesthesia_technique %>
</p>

<p>
  <b>Encounter number:</b>
  <%= encounter_number %>
</p>


<a href="#/index">Back</a>