<td><%= patient_status %></td>
<td><%= elective_surgery %></td>
<td><%= principal_procedure %></td>
<td><%= cpt_code %></td>
<td><%= origin_status %></td>
<td><%= hospital_admission_date %></td>
<td><%= operation_date %></td>
<td><%= anesthesia_technique %></td>
<td><%= encounter_number %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>