<%= form_for(@surgeon_specialty) do |f| %>
  <% if @surgeon_specialty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surgeon_specialty.errors.count, "error") %> prohibited this surgeon_specialty from being saved:</h2>

      <ul>
      <% @surgeon_specialty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
