<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @health_care_provider.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @health_care_provider.type %>
</p>

<%= link_to 'Edit', edit_health_care_provider_path(@health_care_provider) %> |
<%= link_to 'Back', health_care_providers_path %>
