<div class='page-title font-page-title'> admin page </div>
<div style='clear:both'>
  <ul>
    <li> <%= link_to 'User Roles', '/user_roles' %> </li>
    <li> <%= link_to 'Surgeon Specialties', '/surgeon_specialties' %> </li>
    <li> <%= link_to 'Countries', '/countries' %> </li>
    <li> <%= link_to 'Ethnicities', '/ethnicities' %> </li>
    <li> <%= link_to 'Languages', '/languages' %> </li>
    <li> <%= link_to 'Races', '/races' %> </li>
    <li> <%= link_to 'Healthcare Providers', '/healthcare_providers' %> </li>
  </ul>
</div>