<div class='page-title font-page-title'> admin page </div>
<div style='clear:both'>
  <ul>
    <li> <%= link_to 'Survey Management', survey_questions_path %> </li>
    <li> <%= link_to 'User Roles', user_roles_path %> </li>
    <li> <%= link_to 'Surgeon Specialties', surgeon_specialties_path %> </li>
    <li> <%= link_to 'Countries', countries_path %> </li>
    <li> <%= link_to 'Ethnicities', ethnicities_path %> </li>
    <li> <%= link_to 'Languages', languages_path %> </li>
    <li> <%= link_to 'Races', races_path %> </li>
    <li> <%= link_to 'Healthcare Providers', healthcare_providers_path %> </li>
  </ul>
</div>