<%= form_for(@healthcare_provider) do |f| %>
  <% if @healthcare_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@healthcare_provider.errors.count, "error") %> prohibited this healthcare_provider from being saved:</h2>

      <ul>
      <% @healthcare_provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :provider_type %><br>
    <%= f.number_field :provider_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
