<% content_for :javascript do %>
  <%= javascript_include_tag "backbone/health_proj" %>
  <%= javascript_include_tag "backbone/healthcare_providers_includes" %>
  <%= javascript_include_tag "shared/common" %>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "healthcare_providers", media: "all" %>
  <%= stylesheet_link_tag "departments", media: "all" %>
<% end %>

<div id='healthcare_providers'></div>

<script type='text/javascript'>
  $(function(){
    window.router = new HealthProj.Routers.HealthcareProvidersRouter(
      {healthcare_providers: <%= @healthcare_providers.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>