<div class='patient-main-hor'>
  <div class='row-element-right'>
    <%= gender %>
  </div>
  <div class='row-element-right'>
    <%= calculateAge(date_of_birth) %>
  </div>
  <div class='row-element-right'>
    DOB: <%= date_of_birth %>
  </div>
  <div class='row-element-right'>
    MRN: <%= medical_record_id %>
  </div>
  <div class='row-element-right'>
    <% if (last_name && last_name.trim != '') { %>
      <%= last_name %>,
    <% } %>
    <%= first_name %>
    <% if (middle_initial && middle_initial.trim != '') { %>
      <%= middle_initial %>.
    <% } %>
  </div>
</div>

<div class='patient-detail-hor'>
  <div class='row-element-right'>
    <a href='#/<%= id %>/edit'>Edit</a>
  </div>
  <div class='row-element-right'>
    <%= home_phone %>
  </div>
  <div class='row-element-right'>
    <%= state %>
  </div>
  <div class='row-element-right'>
    <%= city %>
  </div>
  <div class='row-element-right'>
    <%= address2 %>
  </div>
  <div class='row-element-right'>
    <%= address1 %>
  </div>
</div>