<div class='page-title font-page-title'>
  Hello <%= current_user.first_name %>
</div>

<!-- Display Surgeon Profile info as applicable -->
<% if current_user.is_surgeon() and not @user_surgeon_profile.nil? %>

  <div style='clear:both'>
    Surgeon Specialty: <%= @surgeon_specialty_name %>
  </div>

<% elsif current_user.is_surgeon() and @user_surgeon_profile.nil? %>

  <div style='clear:both'>
    Role: <%= current_user.role %>
    <br />

    <%= form_tag(user_surgeon_profiles_path, method: 'post') do %>
      <%= label_tag(:surgeon_specialty_id, 'Choose specialty') %>
      <%= select_tag(:surgeon_specialty_id, options_for_select(@specialties_list)) %>
      <%= hidden_field_tag(:user_id, current_user.id) %>
      <%= submit_tag "Update" %>
    <% end %>

  </div>

<% end %>

<!-- Display Admin Profile info as applicable -->
<% if current_user.is_admin() %>
  <div style='clear:both'>
    Administrator
  </div>
<% end %>

<div style='clear:both'>
  <hr>
  <%= link_to 'edit profile', edit_user_registration_path %>
</div>