<% content_for :css do %>
  <%= stylesheet_link_tag "patients", media: "all" %>
<% end %>


<h1>Editing: <%= @patient.full_name %></h1>

<%= render 'form' %>

<div class='clear-both'>
  <%= link_to 'Show', @patient %> |
  <%= link_to 'Back', patients_path %>
</div>