<% content_for :javascript do %>
  <%= javascript_include_tag "backbone/health_proj" %>
  <%= javascript_include_tag "backbone/patients_includes" %>
  <%= javascript_include_tag "shared/common" %>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "patients", media: "all" %>
<% end %>

<div id='patients' style='width: 100%'></div>

<script type='text/javascript'>
  $(function(){
    <!-- TODO: understand ActiveModel::ArraySerializer call -->
    window.router = new HealthProj.Routers.PatientsRouter(
      {patients: <%= ActiveModel::ArraySerializer.new(
        @patients, each_serializer: PatientSerializer).to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
