<p id="notice"><%= notice %></p>

<p>
  <strong>Medical record:</strong>
  <%= @patient.medical_record_id %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @patient.middle_initial %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @patient.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @patient.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @patient.home_phone %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @patient.work_phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @patient.cell_phone %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @patient.race %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @patient.ethnicity %>
</p>

<p>
  <strong>Preferred language:</strong>
  <%= @patient.preferred_language %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
