<div class='page-title font-page-title'>Sign in</div>

<div style='clear: both'>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div style='clear:both'><%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %></div>

    <div style='clear:both'><%= f.label :password %>
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div style='clear:both'><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div style='clear:both'><%= f.submit "Sign in" %></div>
  <% end %>
</div>

<div style='clear: both'>
  <%= render "devise/shared/links" %>
</div>